.card {
  background: #1c1c1c; /* Fondo oscuro */
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.card-header h2 {
  font-size: 18px;
  margin: 0;
  color: white;
}

.card-body p {
  margin: 6px 0;
  font-size: 14px;
  color: #ccc;
}

/* Badge estilo Netflix */
.status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.active {
  background-color: #e50914; /* Rojo Netflix */
}

.inactive {
  background-color: #555; /* Gris oscuro */
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}